.body {
    font-family: sans-serif;
        
}

.header {
    margin: 0;
    padding: 0;
}

.unko0 {
    background-color: #000000;
    color: #F5DF4D;
    font-size: 20px;
    margin: 0;
    padding: 0;
}