body {
    font-family: sans-serif;
    background-color: #f2f2f2;
        
}

header {
    margin: 0;
    padding: 30px;
}

.unko0 {
    color: #F5DF4D;
    font-size: 20px;
    margin: 0;
    padding: 40px;
}
footer {
    color: #F5DF4D;
    font-size: 12px;
    margin: 0;
    padding: 40px;
    text-align: center;
}