body {
    font-family: sans-serif;
    background-color: #edd8e0;
        
}

header {
    margin: 0;
    padding: 10px;
	color: #2c2f41;
}

footer {
    color: #7abfff;
    font-size: 12px;
    margin: 0;
    padding: 20px;
    text-align: center;
}